@model WebApp.Models.HomeModel
<h3>@Model.Title</h3>
@await Html.PartialAsync("_PostList", Model)

@section Head {
    <title>@Model.Title - itovsbasement.net</title>
    <meta name="description" content="@Model.Description">
    <meta property="og:type" content="website">
    <meta property="og:title" content="@Model.Title - itovsbasement.net">
    <meta property="og:description" content="@Model.Description">
    <meta property="og:url" content="@Context.GetAbsoluteUrl(Model.Url)">
    <meta property="og:image" content="@Context.GetAbsoluteUrl("/content/images/og-image.jpg")">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:image:type" content="image/jpeg">
}